@use "../../styles/variables";

.root {
  max-width: 33rem;
}

.callToAction {
  align-items: center;
  color: variables.$color-blue;
  display: flex;
  margin-top: 1.5rem;
}

.callToActionButton {
  margin-right: 0.8em;
}

@media (min-width: 27rem) {
  .dates {
    display: flex;

    > li:nth-child(2) {
      border-left: 1px solid variables.$color-black;
      margin-left: 1.5rem;
      margin-top: 0;
      padding-left: 1.5rem;
    }
  }
}

@media (min-width: variables.$breakpoint-desktop) {
  .title {
    margin-top: variables.$gutter-lg;
  }
}
