@import "../../styles/variables";

.root,
.column {
  display: flex;
  gap: 1rem;
}

.root {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.image {
  height: auto;
  width: 100%;
}

@media screen and (min-width: 36rem) {
  .root {
    flex-wrap: nowrap;
    margin-right: -1 * $gutter-lg;
    overflow-y: auto;
  }

  .image {
    width: 16rem;
  }
}
