@import "../styles/variables";

$radius: 2.5rem;

.root {
  background-color: $color-blue;
  box-shadow: -3px 0 1rem -2px rgb(0 0 0 / 37%);
  display: inline-block;
  margin-bottom: $radius;
  padding: 1rem 2rem 0;
  position: relative;

  &::before {
    background-color: $color-blue;
    border-radius: 0 0 50% 50%;
    bottom: -$radius;
    content: "";
    height: 2 * $radius;
    left: 0;
    position: absolute;
    width: 100%;
  }

  > img {
    margin-bottom: -1rem;
    position: relative;
  }
}

@media (min-width: $breakpoint-desktop) {
  .root {
    box-shadow: 0 -1rem 1rem 0 rgb(0 0 0 / 37%);
  }
}
