@use "../styles/variables";

.root {
  color: variables.$color-gray;
  display: inline-block;
  padding-bottom: 0.4em;
  position: relative;
  text-decoration: none;
  transition: color variables.$transition-duration;

  &:hover,
  &:focus {
    color: variables.$color-blue;
  }
}

.active {
  border-bottom: 1px solid variables.$color-blue;
  color: variables.$color-blue;
}
