@import "../styles/variables";

.root {
  color: $color-gray;
  display: inline-block;
  padding-bottom: 0.4em;
  position: relative;
  text-decoration: none;
  transition: color $transition-duration;

  &:hover,
  &:focus {
    color: $color-blue;
  }
}

.active {
  border-bottom: 1px solid $color-blue;
  color: $color-blue;
}
