@use "../../styles/variables";

.root {
  background-color: variables.$color-blue;
  border: 2px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 0.6rem;
  height: 1em;
  width: 1em;
}

.active {
  animation: pulse 1.5s infinite ease-out;
  background-color: variables.$color-white;
  border-color: variables.$color-blue;
  transform: scale(1.5);
}

.current {
  background-color: variables.$color-blue-light;
  border: 1px solid variables.$color-white;
  box-shadow: 0 0 1em 0.4em rgba(0, 68, 255, 50%);
  transform: scale(1.5);
}

@keyframes pulse {
  50% {
    box-shadow: 0 0 0 0 rgba(0, 35, 133, 0.6);
  }

  100% {
    box-shadow: 0 0 0 1.3em rgba(0, 35, 133, 0);
  }
}
