$color-white: #fcfcfc;
$color-black: #000512;
$color-blue: #002385;
$color-gray: #7e8187;
$color-gray-light: #e6e9ef;

$gutter-sm: 1.5rem;
$gutter-lg: 3rem;

$breakpoint-desktop: 50rem;
$transition-duration: 0.2s;
